@model database_for_concept_reports.Models.Concept

<h2>@Model.Title @Model.Id</h2>
    
<b>Date Created</b>
<p>@Model.DateCreated</p>

@if (@Model.DateModified.HasValue) {
    <b>Date Modified</b>
    <p>@Model.DateModified</p>
}

<b>Responsible Person</b>
<p>@Model.ResponsiblePerson</p>

<b>Group</b>
<p>@Html.DisplayFor(model => model.Group.Name)</p>

<b>Adheres to rules</b>
@{
    if (@Model.AdheresToRules != null) {
        if (@Model.AdheresToRules.GetValueOrDefault()) {
            <p>Yes</p>
        }
        else {<p>No</p>}
    }
    else {<p>Not set</p>}
}

<b>Explanation</b>
<p>@Model.Explanation</p>

<b>Discussion</b>
<p>@Model.Discussion</p>

<b>Conclusion</b>
<p>@Model.Conclusion</p>

<a asp-action="Edit" class="btn btn-default" asp-route-id="@Model.Id" id="Edit">Edit</a>