@model database_for_concept_reports.Models.Concept

<br>
<b>Concept ID</b>
<p>@Model.Id</p>

<b>Concept Name</b>
<p>@Model.Name</p>

<b>Date Created</b>
<p>@Model.DateCreated</p>

<b>Date Modified</b>
<p>@Model.DateModified</p>

<b>Responsible Person</b>
<p>@Model.ResponsiblePerson</p>

<b>Group</b>
<p>@Html.DisplayFor(model => model.Group.Name)</p>

<b>According to rules</b>
@{
    if (@Model.AdhereToRules != null) {
        if (@Model.AdhereToRules.GetValueOrDefault()){
            <p>Yes</p>
        }
        else {<p>No</p>}
    }
    else {<p>Working on it</p>}
}

<b>Explanation</b>
<p>@Model.Explanation</p>

<b>Discussion</b>
<p>@Model.Discussion</p>

<b>Conclusion</b>
<p>@Model.Conclusion</p>

<a asp-action="Edit" class="btn btn-default" asp-route-id="@Model.Id" id="Edit">Edit</a>